
@{
    ViewBag.Title = "SBK Avtalskatalog";
}

<h2>Stadsbyggnadskontoret Avtalskatalog</h2>

<p>Detta kan du göra</p>
<ul>
    <li>
        <a href="/Tabell">Lista över alla avtal</a>
    </li>
</ul>
